{% extends "base.html.twig" %}

{% block page_navigation %}
    <li class="nav-item">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-outline-primary" href="{{ path('app_recettes_creation_get') }}">
                {{ ux_icon('flowbite:circle-plus-outline') }} Créer une recette
            </a>
        {% endif %}
    </li>
{% endblock page_navigation %}

{% block page_title %}Liste des recettes{% endblock page_title %}

{% block body %}
    <section>
        <table class="table">
            <thead>
            <tr>
                <th>Recette</th>
                <th>Ingrédients</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for recette in recettes %}
                <tr>
                    <td>{{ recette.nom }}</td>
                    <td>
                        <ul>
                            {% for ingredient_recette in recette.ingredientRecettes %}
                                <li>
                                    <strong>{{ ingredient_recette.ingredient.nom }}</strong>
                                    : {{ ingredient_recette.quantite }}
                                    {% if ingredient_recette.typeQuantite is not null %}
                                        {{ ingredient_recette.typeQuantite.libelle }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <div class="flex gap-2">
                            <a href="{{ path('app_recettes_details_get', {
                                id: recette.id,
                            }) }}"
                                class="btn btn-outline-info"
                            >
                                {{ ux_icon('flowbite:eye-outline') }} Détails
                            </a>

                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_recettes_edition_get', {
                                    id: recette.id,
                                }) }}"
                                    class="btn btn-outline-primary"
                                >
                                    {{ ux_icon('flowbite:pen-outline') }} Modifier
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock body %}
